#sign-in{
    display: none;
}
#sign-up
{
 display: none;
}
#nav-bar
{
    display: none;
}
#edit-tickets
{
    display: none;
}
#modify
{
    display: none;
}
#ticket-fair
{
    display: none;
}

#travel-histroy
{
    display: none;
}
#recharge
{
    display: none;
}
#balance
{
    display: none;
}